li{
    max-width: 1200px;
    width: 500px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background:linear-gradient(to bottom, #afe4bc 5%, #408c99 100%);
	background-color:#ceddd2;
	border-radius:8px;
    border-style:double;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background:linear-gradient(to bottom, #afe4bc 5%, #408c99 100%);
	background-color:#ceddd2;
	border-radius:8px;
    margin-top: 10px;
    width: 500px;
    border-style:double;
    height: 35px;
    

}

button{
    display: flex;
    justify-content: center;
    align-content: center;
    
    

}

.ProductItem4{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background:linear-gradient(to bottom, #afe4bc 5%, #408c99 100%);
	background-color:#ceddd2;
	border-radius:8px;
    margin-top: 10px;
    width: 500px;
    border-style:double;
    height: 35px;
    

}

.ProductItem5{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background:linear-gradient(to bottom, #afe4bc 5%, #408c99 100%);
	background-color:#ceddd2;
	border-radius:8px;
    margin-top: 10px;
    width: 500px;
    border-style:double;
    height: 35px;
    

}

.ProductItem6{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background:linear-gradient(to bottom, #afe4bc 5%, #408c99 100%);
	background-color:#ceddd2;
	border-radius:8px;
    margin-top: 10px;
    width: 500px;
    border-style:double;
    height: 35px;
    

}

.Item{
    max-width: 1200px;
    margin: 0 auto; /* Centralizando o conteúdo*/
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background:linear-gradient(to bottom, #afe4bc 5%, #408c99 100%);
	background-color:#ceddd2;
	border-radius:8px;
    margin-top: 10px;
    width: 500px;
    border-style:double;
    height: 35px;
    

}


h2{
    text-align: center;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    

}




Button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #59b36e 5%, #408c99 100%);
	background-color:#59b36e;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    display: flex;
    justify-content: center;
}
Button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #59b36e 100%);
	background-color:#408c99;
}
Button:active {
	position:relative;
	top:1px;
}



body {
    background-color: #121214;
}